/* Modo normal: se muestra en pantalla, oculta en impresión */
.no-print {
    display: block;
  }
  
  /* Modo impresión: oculto en pantalla, visible al imprimir */
  .only-print {
    display: none;
  }

  /* Estilo personalizado para los checkbox */
.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease-in-out;
  outline: none;
}

/* Estilo cuando el checkbox está marcado */
.custom-checkbox:checked {
  background-color: #007bff;
}

/* Dibujo de la "marca de verificación" */
.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Opcional: Estilo al pasar el mouse */
.custom-checkbox:hover {
  border-color: #0056b3;
}

.text-invalid {
  color: red;
  font-weight: bold;
}


.input-error {
  border: 2px solid red !important;
  outline: none;
}

.input-valid {
  border: 2px solid green !important;
  outline: none;
}



  
  @media print {
    .no-print {
      display: none !important;
    }
    .only-print {
      display: block !important;
    }
  
    /* Ajusta el tamaño de la página a A4, con márgenes deseados */
    @page {
      size: A4;
      margin: 2cm;
    }
  }
  