
/* Contenedor principal: márgenes mínimos y fuente más grande */
.print-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px;          /* Reducido de 20px a 5px */
  box-sizing: border-box;
  max-width: 800px;
  margin: 5px auto;      /* Márgenes laterales muy pequeños */
  font-family: Arial, sans-serif;
  color: #000;
  font-size: 18px;       /* Reducido de 20px a 18px */
}

/* logos */
.print-logo {
  width: 50px;
  position: absolute;
  top: 10px;
  right: 150px;
}

.print-icono {
  width: 50px;
  position: absolute;
  top: 0px;
  right: 100px;
}

/* Encabezado */
.print-title {
  text-align: center;
  font-weight: bolder;
}

.print-header {
  text-align: center;
  margin-bottom: 5px;
}
.print-encabezado {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px 0;
}
.print-fecha {
  margin: 5px 0;
}

/* Separador */
.separator {
  border: none;
  border-top: 1px solid #000;
  margin: 10px 0;
}

/* Sección central: Campos con línea punteada y rango normal */
.print-content {
  flex: 1;
  margin-bottom: 10px;
}
.print-line-item {
  margin-bottom: 5px;
}
.line-main {
  display: flex;
  align-items: center;
}
.print-label {
  white-space: nowrap;
  margin-right: 5px;
  font-weight: bold;
}
.print-dotted-line {
  flex: 1;
  border-bottom: 1px dotted #000;
  margin: 0 5px;
}
.print-value {
  white-space: nowrap;
}
.normal-range {
  font-size: 0.7em;
  color: #555;
  margin-left: 5px;
}

.footer-print-text {
  font-size: 0.9em;
  color: #797979;
  margin-top: -12px;
}

/* Sección de modificación */
.print-modification {
  margin-bottom: 10px;
}
.mod-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.mod-row.mod-row-top {
  justify-content: space-around;
}
.mod-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.mod-label {
  font-weight: bold;
  margin-right: 5px;
}
.mod-value {
  white-space: nowrap;
}
.mod-row.mod-row-bottom {
  justify-content: center;
}

/* Pie de página: Firmas */
.print-footer {
  text-align: center;
  margin-top: 10px;
}
.firma-col {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}
.transport-fields {
  display: block;
}

/* Modo impresión: se asegura el tamaño A4 y márgenes laterales */
@media print {
  @page {
    size: A4;
    margin: 1cm 0cm 0cm 0cm !important;
  }
  .print-container {
    height: auto;
  }
  .print-line-item {
    width: 100% !important;
  }
}
