.img-footer-GM{
    height: 200px;
    margin: 0 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
    user-select: auto;
}

.img-footer-DE{
    height: 200px;
    margin: 0 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
    user-select: auto;
}

.img-footer-DA{
    height: 120px;
    margin: 0 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
    user-select: auto;
}

@media ( max-width: 768px ) {
    .img-footer-DE{
        order: 0;
    }

    .img-footer-DA{
        order: 1;
    }

    .img-footer-GM{
        order: 2;
    }
    
}