.btn-LL-I {
    
    background-color: #ffffff;
    color: #eaa416;
    font-weight: bolder;
    border: 2px solid #eaa416;
    outline: none;
    /* Si Bootstrap o el navegador aplican un outline, esto a veces no basta */
}

.btn-LL-I:hover {
    background-color: #eaa416;
    color: white;
    font-weight: bolder;
    border: 2px solid #eaa416;
}

.btn-LL-I:focus,
.btn-LL-I:active,
.btn-LL-I.focus {
    outline: none !important;
    /* El !important asegura que sobrescribas estilos de Bootstrap/navegador */
    box-shadow: 0 0 0 4px #eaa31663 !important;
    /* Añade tu “contorno” en color de marca */
    background-color: #ffffff;
    color: #eaa416;
    font-weight: bolder;
    border: 2px solid #eaa416;
}

.custom-toggle-notif{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.notif-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 0;
}

.notif-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.notif-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.notif-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50%;
}

.notif-switch input:checked+.notif-slider {
    background-color: #eaa416;
}

.notif-switch input:checked+.notif-slider:before {
    transform: translateX(20px);
}

.notif-slider:hover {
    box-shadow: 0 0 3px #eaa416;
}

.btn-guardar{
    background-color: #ffffff;
    color:#eaa416;
    font-weight: bolder;
    border: #eaa416 1px solid;
}

  .btn-guardar:hover{
    background-color: #eaa416;
    color:white;
    font-weight: bolder;
    border: #eaa416 1px solid;
} 

.btn-cancelar{
    background-color: #ffffff;
    color:#dc3545;
    font-weight: bolder;
    border: #dc3545 1px solid;
}

  .btn-cancelar:hover{
    background-color: #dc3545;    
    color:white;
    font-weight: bolder;
    border: #dc3545 1px solid;
}

.btn-outline-warning:hover{
    color: white !important;
}

